
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="keywords" content="Kanlungan, Miskonasia" />
    <meta name="description" content= "Kanlungan is a safe space 'shelter' dedicated for people who might be lost in their pathway of life. Adorned in charming digital artwork and led by the fictional shapeshifting cat, Miskonasia, the website holds several little ephemeras in the daily — helpful quotes for the day with an originally written poem in the side, a post-it note station as fleeting as you allow it to be, and a bit of an 'achievements' section dictated by the amount of days you log in." />
    <meta name="author" content="ESQUIVEL, Elisha Marie, VILLASFER, Joshua Samuel" />
    <meta name="revised" content="12/20/2024" /> 
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.global/a141060a-d4e4-465b-82a4-de139674d3a4/Copy_of_welcome-cat-removebg-preview.png?v=1734700678605">
    <title>Kanlungan</title>
</head>
<body>

<div class="loading-screen" id="loadingScreen" onclick="dismissLoadingScreen()"> / <!--For loading screen initiation -->
    <img src="https://cdn.glitch.global/a141060a-d4e4-465b-82a4-de139674d3a4/jk.jpg?v=1734787093397" alt="Loading"> <!--For loading screen image -->
</div>

<div class="confirmation-dialog" id="confirmationDialog"> <!--For after loading screen option initiation -->
    <div class="dialog-content"> <!--For after loading screen option content -->
        <img src="https://cdn.glitch.global/a141060a-d4e4-465b-82a4-de139674d3a4/Copy%20of%20welcome-cat.png?v=1734696554962" alt="Pusa of the Eons"> <!--For option image -->
        <p>BEEHOLD! i am the pusa of the eons, Miskonasia! dare you enter the shelter: the Kalungan?</p> <!--For option text -->
        <div class="dialog-buttons"> <!--For option dialogs -->
            <button class="dialog-button" onclick="enterSite()">yup g</button> <!--For 1st dialog -->
            <button class="dialog-button" onclick="enterSite()">yes!!!!</button> <!--For 2nd dialog -->
        </div>
    </div>
</div>

<div class="content-wrapper"> <!--For header -->
    <div class="navbar"> <!--For header navbar -->
        <span id="current-date"></span> <!--For date in header navbar -->
        <span class="tab-link" onclick="showContent('kanlungan')">kanlungan.</span> <!--For direction to homepage option in header navbar -->
        <span id="days-accessed">days accessed: [0/30]</span> <!--For days accessed in header navbar (it changes per day you enter the website)-->
    </div>

    <div class="tabs">
        <span class="tab-link active" onclick="showContent('quote')">✹ quote page.</span> <!--For quote option in lower navbar -->
        <span class="separator"></span>
        <span class="tab-link" onclick="showContent('title')">✹ post-it.</span> <!--For post-it option in lower navbar -->
        <span class="separator"></span>
        <span class="tab-link" onclick="showContent('about')">✹ mini games.</span> <!--For mini games option in lower navbar -->
    </div>

    <div id="content-kanlungan" class="content-section"> <!--For homepage content -->
        <div class="kanlungan-container"> <!--For left-side bar content -->
            <div class="text-column">               
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="tab-link" onclick="showContent('socials')"><a href="#">socials page</a></p> <!--For socials content -->
                <p class="tab-link" onclick="showContent('sources')"><a href="#">sources page</a></p> <!--For sources content -->
                <p class="tab-link" onclick="showContent('copyright')"><a href="#">copyright page</a></p> <!--For copyright content -->
            </div>
            <div class="image-column"> <!--For center content -->
                <h1>KANLUNGAN</h1> <!--For center title content -->
                <img src= "https://cdn.glitch.global/a141060a-d4e4-465b-82a4-de139674d3a4/Copy%20of%20kalungnan.png?v=1734696454122" alt="Miskonasian Character"> <!--For center image content -->
            </div>
            <div class="text-column"> <!--For right-side bar content -->
              <p>
                <a href="#">about this.</a> <!--For about this indicator content -->
              </p>
                <p>kanlungan is a safe space "shelter" dedicated for people who might be lost in their pathway of life. adorned in charming digital artwork and led by the fictional shapeshifting cat, Miskonasia, the website holds several little ephemeras in the daily — helpful quotes for the day with an originally written poem in the side, a post-it note station as fleeting as you allow it to be, and a bit of an "achievements" section dictated by the amount of days you log in.</p> <!--For about this content -->
                <p class="tab-link" onclick="showContent('profile')"><a href="#">profile page</a></p> <!--For socials content -->
            </div>
        </div>
    </div>

    <div id="content-quote" class="content-section active-content"> <!--For quote webpage content -->
        <div id="last-accessed" class="date-info"></div> <!--For last-access date content -->
        <div class="content-header"> <!--For title bar content -->
            <img src= "https://cdn.glitch.global/a141060a-d4e4-465b-82a4-de139674d3a4/Copy%20of%20indicator.png?v=1734785790323" alt="Decorative Icon" class="header-icon"> <!--For title icon content -->
            <div>
                <h2>pace your allusions.</h2> <!--For title content -->
                   <p class="subtitle">perhaps a flick of a coin cannot pave your fate; destiny is an ink of your quill. though so, a word of advice by the daylight surely would suffice to taint your life’s magnum opus of a canvas a bit more iridescent in colour. Miskonasia drops by on the daily with love letters of the heart spurred alike a warm cup of cocoa.</p> <!--For description content -->
                <div class="description">
                   <p>(a page where you receive a quote every day with a sprinkle of a short poem. come back the next, and maybe you’ll get a little sweet treat of an award once on specific dates...)</p>
            </div>
        </div>
    </div>

    <div class="main-content"> <!--For main webpage content -->
        <div class="quote" id="daily-quote"></div> <!--For daily quote content -->
        <div class="poem"> <!--For poem content -->
            showers of rain may grace the roots of where one flourished upon the golden star, but to never feel the glint of it roll down your cheek, to not have known who the sun rises for are the elysian fields in a gilded cage. <!--For poem content -->
        </div>
            <img src="https://cdn.glitch.global/a141060a-d4e4-465b-82a4-de139674d3a4/Copy%20of%20quote-cat.png?v=1734696551594" alt="Art" class="image"> <!--For quote page art content -->
        </div>
        <div class="credits">art, poems, and lore creds to elisha e.</div> <!--For credit content -->
    </div>

    <div id="content-title" class="content-section"> <!--For post-it webpage content -->
        <div class="content-header">
            <img src="https://cdn.glitch.global/a141060a-d4e4-465b-82a4-de139674d3a4/Copy%20of%20icon.png?v=1734696446049" alt="Decorative Icon" class="header-icon"> <!--For post it webpage icon content -->
            <div>
                <h2>carve your epithet.</h2> <!--For title content -->
                   <p class="subtitle">do you yearn to speak aloud of the swooping thoughts of your affinities? perhaps the will of brevity sews your lips into silence — the childish fluster of musing such encomiums even towards the mirror a sight and sound unheard of to you. Miskonasia’s space allows of the love that cannot be named: from a hallway limerence to a simple adoration towards a vitruvian figure you dare not approach.</p> <!--For webpage description content -->
                <div class="description">
                   <p>(a safe space to compliment people either you’re close with or you’ve seen casually when you can’t do it because you’re too shy: completely anonymous. the message will only stay there until you refresh.)</p>
                </div>
            </div>    
    </div>

    <div class="guestbook"> <!--For messages initialization content -->
        <div class="board-container"> 
            <div class="messages" id="messages-board"></div>
            <img src="https://cdn.glitch.global/a141060a-d4e4-465b-82a4-de139674d3a4/Copy%20of%20message-cat.png?v=1734696503048" alt="Art" class="image">
        </div>

        <div class="form"> <!--For messages content (user-input content) -->
            <input type="text" id="guest-name" placeholder="Your Name" required>
            <textarea id="guest-message" placeholder="Your Message" rows="3" required></textarea>
            <button type="button" onclick="addMessage()">Submit Message</button>
            </div>
      </div>
        <div class="credits">art, poems, lore creds to elisha e.</div> <!--For credit content -->
    </div>

    <div id="content-about" class="content-section"> <!--For mini-games content -->
        <div class="content-header">
            <img src="https://cdn.glitch.global/a141060a-d4e4-465b-82a4-de139674d3a4/Copy%20of%20icon.png?v=1734696446049" alt="Decorative Icon" class="header-icon">
            <div>
                <h2>mold your play.</h2> <!--For mini games description content -->
                  <p class="subtitle">it is no clandestine an enigma to be held under lock and key the depth of dedication to wreathe such a safe space with letterings of your reflection’s virtuoso. as such, if you’ll allow, Miskonasia would hesitate no less to pull the curtains before the begetters of the Kanlungan for a moment’s relief.</p>
                <div class="description">
                  <p>(a mini-game to be played.)</p>
                </div>
            </div>
        </div>
        <div class="tetris-container"> <!--For tetris game container content -->
            <div class="tetris-title"> <!--For tetris game title content -->
                <h3>tetris</h3>
                <div>score: <span id="score">0</span></div> <!--For tetris game score content -->
                <button id="resetButton" onclick="resetTetris()">reset</button>
            </div>
            <div class="tetris-game"> <!--For tetris game content -->
              <div class="tetris-board">
                 <canvas id="tetrisCanvas" width="240" height="400"></canvas> <!--For tetris game canva content -->
                 <canvas id="nextPieceCanvas" width="120" height="120"></canvas>
              </div>
            </div>
            <div class="tetris-instructions"> <!--For tetris game intstructions content -->
                <img src="https://cdn.glitch.global/a141060a-d4e4-465b-82a4-de139674d3a4/Copy%20of%20game-cat.png?v=1734696440744" alt="Art" class="image">
                <p>
                  <b>instructions:</b>
                </p>
                <ul>
                   <li>use the left and right arrow keys to move pieces</li>
                    <li>press Q and W to rotate</li>
                    <li>use the down arrow key to drop faster</li>
                </ul>
            </div>
        </div>
     </div>
  
     <div id="content-socials" class="content-section active-content"> <!--For socials webpage content -->
         <h1>socials</h1>
           <h2>emails</h2>
             <h3>b2028empesquivel@pshs.edu.ph <br> b2028jspvillasfer@pshs.edu.ph</h3>
           <h2>authors info</h2>
       <h3>elisha marie p. esquivel - na08 b2028<br> joshua samuel p. villasfer - na27 b2028<br><br> section: 9-na <br> teacher: sir roy canseco </h3>
     </div>  
               
     <div id="content-sources" class="content-section active-content"> <!--For sources webpage content -->
         <h1>sources</h1>
             <h3>Basic Tetris HTML and JavaScript game. (n.d.). Gist. https://gist.github.com/straker/3c98304f8a6a9174efd8292800891ea1 <br> Olawanle, J. (2024, November 7). JavaScript Refresh page – How to reload a page in JS. freeCodeCamp.org. https://www.freecodecamp.org/news/javascript-refresh-page-how-to-reload-a-page-in-js/#:~:text=The%20simplest%20way%20to%20refresh,and%20loading%20the%20latest%20content <br>
                 Popular quotes. (n.d.). https://www.goodreads.com/quotes <br> Thelin, R. (n.d.). JavaScript tutorial: Build Tetris with modern JavaScript. Educative. https://www.educative.io/blog/javascript-tutorial-build-tetris <br> W3Schools.com. (n.d.-c). https://www.w3schools.com/js/js_date_methods.asp#:~:text=The%20getDay()%20method%20returns,number%20(0%2D6) <br> W3Schools.com. (n.d.-d). https://www.w3schools.com/graphics/game_canvas.asp <br>
                 W3Schools.com. (n.d.-e). https://www.w3schools.com/graphics/game_score.asp <br> W3Schools.com. (n.d.-f). https://www.w3schools.com/cssref/css_pr_rotate.php <br> W3Schools.com. (n.d.-g). https://www.w3schools.com/js/js_input_examples.asp <br> W3Schools.com. (n.d.-h). https://www.w3schools.com/jsref/dom_obj_text.asp <br> W3Schools.com. (n.d.-i). https://www.w3schools.com/js/js_date_methods.asp <br> W3Schools.com. (n.d.-j). https://www.w3schools.com/js/js_object_accessors.asp <br>
                 W3Schools.com. (n.d.-k). https://www.w3schools.com/js/js_function_call.asp <br> W3Schools.com. (n.d.-l). https://www.w3schools.com/tags/tag_textarea.asp <br> W3Schools.com. (n.d.-n). https://www.w3schools.com/howto/howto_js_topnav.asp
             </h3>
     </div>
  
     <div id="content-copyright" class="content-section active-content"> <!--For copyright content -->
         <h1>copyright</h1>
             <p>
               Copyright &copy
                <span>
                 Elisha Esquivel, 9-Sodium <br>
               </span>
             </p>
             <p> 
               Copyright &copy
               <span>
                 Joshua Villasfer, 9-Sodium
               </span>
             </p>
     </div>  
     <div id="content-profile" class="content-section"> 
     <div class="kanlungan-container"> 
        <div class="text-column">               
            <img src="https://cdn.glitch.global/178ebc06-7d61-4180-8da1-a8b443a8d2fd/Untitled366_20250509203631.jpg?v=1746850721285" alt="profile character">
        </div>
        <div class="image-column"> 
            <h1>PROFILE</h1>
                <form id="userDataForm" action="/save" method="post"><!--Form for adding/saving tasks (with /save route for server.js)-->
                    <input type="text" id="username" name="userName" placeholder="Username" required />
                    <input type="text" id="email" name="userEmail" placeholder="Email" required /><!--For the unique IDs-->
                    <input type="text" id="name" name="userName" placeholder="Name" required /><!--Input fields for new description data-->
                    <input type="date" id="birthday" name="userBirthday" placeholder="Birthday" required /><!--Input fields for new date data-->
                    <input type="text" id="password" name="userPassword" placeholder="Password" required />
                    <button>Update</button><!--Button to save/update tasks-->
                </form>
                <table id="userData" class="user-details">
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userData}}
                        <tr>
                            <th>Username:</th>
                            <td id="username{{@key}}">{{@key}}</td>
                            <td><button class="editBtns" onclick="getData('{{@key}}')" type="button">Edit</button></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td id="email{{@key}}">{{this.email}}</td>
                            <td><button class="editBtns" onclick="getData('{{@key}}')" type="button">Edit</button></td><!--Button for edit. @key gets the data given the ID, and inputs it in the editing/changing field. It makes the JS function load the data-->                
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td id="name{{@key}}">{{this.name}}</td>
                            <td><button class="editBtns" onclick="getData('{{@key}}')" type="button">Edit</button></td>
                        </tr>
                        <tr>
                            <th>Birthday:</th>
                            <td id="birthday{{@key}}">{{this.birthday}}</td>
                            <td><button class="editBtns" onclick="getData('{{@key}}')" type="button">Edit</button></td>
                        </tr>
                        <tr>
                            <th>Password:</th>
                            <td id="email{{@password}}">{{this.password}}</td>
                            <td><button class="editBtns" onclick="getData('{{@key}}')" type="button">Edit</button></td>
                        </tr>
                        <form id="forms{{@key}}" action="/delete" method="get" onsubmit="return confirm('Sure to Delete?')"><!--For delete. It gets the data through @key ID, returns confirmation message, then deletes through route /delete-->
                            <input name="taskNumber" type="number" value="{{@key}}" style="display:none">
                            <button type="submit">Delete</button>
                        </form>
                        {{/each}}
                    </tbody>
                </table>
        </div>
        <div class="text-column">
            <h1>this will save <br> your personal data <br> and achievements</h1>
        </div>
    </div>
    </div>
</div>    
<script defer src="script.js"></script> <!--For js content -->
</body>
</html>